footer {
  text-align: center;
  font-family: "roboto";
  font-size: 12px;
  line-height: 15.6px;
  color: #ababab;
  border-top: #1b273427 solid 1px;
  padding: 0 20px 0 20px;
}
.parag {
  margin: 19px 0 5px 0;
  height: 15.583px;
}
.adresse {
  display: flex;
  justify-content: center;
}
.parag a {
  color: #1138bb;
  text-decoration: none;
}
.parag a:hover {
  text-decoration: underline;
}
